body {
  background-color:#F6F8FB!important;
}

#main-div {
  margin-top: 5em;
}

.background-picture {
  position: relative;
  top:0px;
  left:0px;
}

.down-arrow {
  position: absolute;
  top: 290px;
  left :225px;
  height: 70px;
  width: 40px;
}

.up-arrow {
  transform: rotate(180deg);
  position: absolute;
  top: 140px;
  left :225px;
  height: 70px;
  width: 40px;
}

.left-arrow {
  transform: rotate(90deg);
  position: absolute;
  top: 215px;
  left : 150px;
  height: 70px;
  width: 40px;
}

.right-arrow {
  transform: rotate(270deg);
  position: absolute;
  top: 215px;
  left : 300px;
  height: 70px;
  width: 40px;
}

.go-button {
  position: absolute;
  top: 225px;
  left : 220px;
  height: 50px;
  width: 50px;
}


.bee-sprite {
  position: relative;
  left: 0;
  top: 0;
}

.control:hover {
  border-style: solid;
  border-width: 3px;
  border-color: rgba(0, 0, 0, 0);
}

#tile-board {
  background-color:#007bff;
  padding: 40px 0 20px 0;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;

  -webkit-box-shadow: -1px 10px 16px 0px rgba(0,0,0,0.71);
  -moz-box-shadow: -1px 10px 16px 0px rgba(0,0,0,0.71);
  box-shadow: -1px 10px 16px 0px rgba(0,0,0,0.71);
}

#send-button {
  margin-top: 20px;
}

#hint-button {
  margin-top: 20px;
}

.form-signin {
  width: 100%;
  max-width: 430px;
  padding: 55px 30px 55px 30px;
  margin: 0 auto;
  margin-top: 30px;
}

.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="ssid"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.content-elem {
  background-color: #fff;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
  margin-top: 60px;
  padding-bottom: 30px;
}

.table-status {
  padding-top: 135px;
  margin: 0 auto;
}

#loader {
  display: inline-block;
  height: 20px;
}

.request-loader {
  padding-top:10px;
  border: 3px solid #ececec;
  border-top: 3px solid #2090db;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

#tutorialCanvas {
  border:1px solid #000000;
  background-image: url("../img/tutorial/grid.png");
}

#tutorial-div {
  margin-top: 1em;
}
